* {
    box-sizing: border-box;
  }
  
@font-face {
  font-family: 'Graphik LCG';
  src: url('./fonts/transfonter.org-20240220-140411/GraphikLCG-Regular.woff2') format('woff2'),
      url('./fonts/transfonter.org-20240220-140411/GraphikLCG-Regular.woff') format('woff'),
      url('./fonts/transfonter.org-20240220-140411/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('./fonts/transfonter.org-20240220-140411/GraphikLCG-Semibold.ttf') format('woff2'),
      url('./fonts/transfonter.org-20240220-140411/GraphikLCG-Semibold.woff') format('woff'),
      url('./fonts/transfonter.org-20240220-140411/GraphikLCG-Semibold.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  .container {
    max-width: 1300px;
    padding: 0 5px;
    margin: 0 auto;
  }
  
.container1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1330px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-center {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: space-between;
}

.container-center1 {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1290px;
    justify-content: space-between;
    padding-top: 80px;
}

.container2 {
    margin: 0 auto;
    max-width: 1290px;
    padding: 0 15px;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 80px;
}

  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  ul,
  ol,
  dl {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  
  
  .footer {
    background: #eee;
    padding: 92px 0 43px;
  
    &-inner {
    }
  
    &-top {
      display: flex;
      justify-content: space-between;
      gap: 34px;
      border-bottom: 1px solid;
      padding-bottom: 95px;
      margin-bottom: 48px;
    }
  
    &-case-studies {
      display: flex;
      flex-flow: column;
      flex: 4;
      margin-right: 110px;
  
      img {
        max-width: 300px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 31px;
      }
  
      svg {
        margin-bottom: 11px;
      }
    }
  
    &-heading {
      font-size: 40px;
      font-weight: 600;
      line-height: 50px;
      margin-bottom: 28px;
    }
  
    &-text {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 15px;
    }
  
    &-link {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }
  
    &-nav {
      flex: 11;
      padding: 5px;
      display: flex;
      gap: 34px;
  
      &-list {
        flex: 1;
  
        &-heading {
          font-size: 20px;
          font-weight: 600;
          line-height: 25px;
          margin-bottom: 21px;
        }
  
        ul {
          display: flex;
          flex-flow: column;
          gap: 15px;
          font-size: 15px;
          line-height: 15px;
        }
      }
    }
  }
  